spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: zad12xd
    url: jdbc:postgresql://localhost:5432/Pet
  jpa:
    properties:
      hibernate:
        show_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mvc:
    hiddenmethod:
      filter:
        enabled: true

  pathmatch:
    matching-strategy: ant_path_matcher